@use 'variable' as var;

.Btn {
    padding:15px 20px;
    color:white;
    border:0px;
    border-radius: 15px;
    &.green {
        background-color:var.$green;
    }
    &.purple {
        background-color:var.$purple;
    }
    &.black {
        background-color: var.$black;
    }
    &.large {
        font-size:20px;
    }
    &.medium {
        font-size:18px;
    }
    &.small {
        font-size:16px;
    }
    button {
        cursor: url("/cursor/pointer.png"), pointer;
    }
}