@use 'variable' as var;

.header {
    padding: 30px 0;
    display:flex;
    justify-content: center;
    align-items: center;
}

.main_title {
    font-weight: 700;
    margin-left:10px;
    margin-bottom:0;
}

.main_intro {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size:15px;
    p {
        margin: 2px 0;
    }
}

.choice {
    width:80%;
    min-height: 200px;
    max-width: 850px;
    margin: 30px 0;
    padding: 20px 10px 20px 20px;
    border-radius:20px;
    background-color: var.$grey;
}

.choice_ingre {
    display: inline-flex;
    align-items: center;
    background-color: var.$green;
    padding:10px 15px;
    border-radius: 10px;
    margin-right: 10px;
    span {
        margin:0;
        margin-right:10px;
        font-size:16px;
        font-weight: 600;
        color:white;
    }
}

.ingre_ul {
    list-style-type: none;
    padding:0;
    margin-bottom: 0;
    li {
        &.choice_li {
            color: var.$purple;
            font-weight: 700;
        }
        line-height: 2;
        font-weight: 500;
        cursor: pointer;
    }
}

.category_title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
}

.category {
    background-color: var.$grey;
    width:270px;
    height:305px;
    padding: 20px 30px;
    border-radius: 20px;
    overflow-y: auto;
    @media (max-width:var.$lg){
        width: 230px;
    }
}

.category_sec_web {
    display:flex;
    justify-content: center;
    @media (max-width:var.$md) {
        display: none;
    }
}

.category_sec_mobile {
    width:80vw;
    @media (min-width:var.$md){
        display: none;
    }
    > div {
        margin-bottom: 20px;
    }
}

.search {
    width:80%;
    max-width: 850px;
    margin-bottom:30px;
    padding: 5px;
    border-bottom: 1px solid var.$black;
}

.form {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.searchbar {
    border:0;
    margin-right:10px;
    width:calc(100% - 16px);
}

.recipe_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipe_container {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    @media (max-width: var.$md){
        grid-template-columns: repeat(1, 1fr);
    }
}

.recipe_list_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    margin: 62px 0 50px 0;
    @media (max-width:var.$sm) {
        font-size: 20px;
        margin: 42px 0 30px 0;
    }
    p {
        margin: 0;
    }
}

.title_purple {
    color: var.$purple;
}

.noVeggie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
      font-weight: 600;
      font-size:23px;
      margin-top:50px;
    }
    @media (max-width:var.$sm){
      margin-top:30px;
    }
  }