@use 'variable' as val;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'SUIT Variable', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'SUIT Variable';
  color:val.$black;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.nav_active {
  color:val.$purple !important;
}

container {
  padding: 0 2rem;
}

main {
  min-height: 100vh;
  padding: 4rem 0;
  margin-top: 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}