@use 'variable' as var;

.mart_container {
    position: relative;
    width:350px;
    height:100%;
    min-height:485px;
    border: 1px solid var.$black;
    border-radius: 15px;
    padding:25px;
    background-color: white;
    @media (max-width:var.$sm){
        width:350px;
    }
    // overflow-y: auto;
    -ms-overflow-style: none;
    &::-webkit-scrollbar{
        display:none;
    }
}

.header {
    background-color: white;
    position: absolute;
    top:2px;
    left:3px;
    right:3px;
    padding: 25px;
    width:344px;
    border-radius: 15px;
}

.mart_title {
    display:flex;
    justify-content: center;
    align-items: center;
    margin:10px 0 10px 0;
    p {
        margin: 0 0 0 10px;
        font-weight: 700;
        font-size: 25px;
    }
}

.mart_icon {
    display:flex;
    justify-content: flex-end;
}

.hr {
    border-top: 1px dashed var.$black;
    opacity: 1;
}

.price {
    display:flex;
    justify-content: center;
    align-items: baseline;
    font-weight: 700;
    font-size:20px;
    margin: 30px 0;
    p {
        margin-bottom: 0;
    }
    .cheaper{
        color:var.$red;
        font-size:25px;
    }
    .not_cheap{
        font-size: 25px;
    }
}

.item_title {
    font: {
        weight:600;
        size:18px;
    }
    margin-bottom: 10px;
}

.item_price{
    font: {
        weight:700;
        size:25px;
    }
    margin-right:0;
    margin-left:auto;
}

.user_item {
    padding:5px 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    p {
        margin-bottom: 0;
        margin-top: 5px;
    }
}

.item_list {
    // margin-bottom: 60px;
}

.map_btn {
    // position: absolute;
    // bottom: 0;
    // padding-bottom: 25px;
    background-color: white;
    // border-bottom: 1px solid var.$black;
    button {
        width:300px;
    }
}