@use 'variable' as var;

#navigator {
    display:flex;
    justify-content: space-between;
    padding : 20px 30px;
    background-color: white;
    button {
        padding:0;
    }
    @media (max-width:var.$sm) {
        padding: 15px 10px;
    }
}

#menus {
    a {
        color: var.$black;
        font: {
            weight: 600;
            size:16px;
        }
        margin-left: auto;
        margin-right: 15px;
    }
    a:hover {
        color: var.$green;
    }
    a:active {
        color: var.$purple;
    }
}

.main_img {
    height:100px;
}