@use 'variable' as var;

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  padding: 4rem 0;
  margin-top: 15px;
}

.header {
  padding: 30px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.price_title {
  font-weight: 700;
  margin-left: 10px;
  margin-bottom: 0;
}

.category {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 600px;
}

//chart크기는 css로 조정한다..! 
.chart_section{
  width: 400px;
  height:auto;
}

