@use 'variable' as var;

// .main{
//   width: 70vw;
//   max-height: 80vh;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // width: 85vw;
  max-width: 1000px;
  // width: 80vw;
  // padding: 20px 0;
  // align-items: flex-start;

  h1 {
    font-weight: 700;
    margin-left: 10px;
    margin-bottom: 0;
  }
  @media (max-width:var.$sm) {
    width: 85vw;
  } 
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0 30px 0;
  @media (max-width:var.$sm) {
  margin: 10px 0 20px 0;
    }
}


.category {
  display: flex;
  flex-direction: row;
  @media (max-width:var.$sm) {
    justify-content: space-evenly;
    width: 85vw;
    >div>div {
      padding-left:10px ;
    }
  }
  @media(min-width:var.$sm){
    >div {
      margin : 0 4px
    }
  }
}


.news_section {
  padding: 30px;
  display:flex;
  align-items: center;
}

.news_title {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 0;
  margin-left:15px;
}
  
// .header {
//   display: flex;
//   flex-direction: column;
//   // width: 80vw;
//   // padding: 20px 0;
//   // align-items: flex-start;

//   h1 {
//     font-weight: 700;
//     margin-left: 10px;
//     margin-bottom: 0;
//   }

//   @media (max-width:var.$sm) {
//     width: 85vw;
//   }
// }

// .title {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   margin: 10px 0 20px 0;
// }


// .category {
//   display: flex;
//   flex-direction: row;

//   // max-width: 600px;
//   @media (max-width:var.$sm) {
//     justify-content: space-evenly;
//     width: 85vw;

//     >div>div {
//       padding-left: 10px;
//     }
//   }
// }

//chart크기는 css로 조정한다..! 
.chart_section {
  @media (min-width:var.$sm) {
    display: flex;
    flex-direction: column;
    // display: grid;
  }

  // flex-direction: column;
  max-width: 1000px;
  width: 80vw;
  margin-top: 20px;

  h3 {
    font-weight: 600;
  }

  @media (max-width:var.$sm) {
    width: 85vw;
  }
}

.main_chart {
  margin:10px 0;
  // grid-column-start: 1;
  // grid-column-end: 4;
}

.sub_chart {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto;
  // flex-direction: row;


  // justify-content: space-evenly;
  @media (max-width:var.$md) {
    display: flex;
    flex-direction: column;
  }
}
.column_chart {
  margin-bottom: 10px;
}
.table_article {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 10px;
  padding:25px ;
  border-radius: 15px;
  background-color: var.$grey;
}

.noPrices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;

  p {
    font-weight: 600;
    font-size: 23px;
    margin-top: 50px;
  }

}

.spinner {
  div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 70px;
    h3{
      margin: 30px;
    }
  }
}

.main_name {
  display: flex;
  flex-direction: row;
  font-weight: 700;
  margin: 20px 20px 0px 20px;
  p {
    margin: 0;
    font-size: x-large;
  }
  p:nth-child(1){
    color: var.$purple;
  }
}

.sub_name {
  display: flex;
  flex-direction: row;
  font-weight: 700;
  margin: 20px 20px 0px 20px;
  p{
    margin: 0;
    font-size: x-large;
  }
  p:nth-child(1) {
    color: var.$purple;
  }
}
