@use 'variable' as var;

.list_box {
  display: flex;
  overflow: hidden;
  width: 350px;
  height:180px;
  margin: 7px;
  padding: 0;
  border-radius: 20px;
  background-color: var.$grey;
  :hover{
    cursor: pointer;
  }
  @media (min-width: var.$sm) {
    width: 26rem;
    height:13rem;
  }
}

#list_img {
  width: 180px;
  height: 180px;
  background-size: cover;
  background-position: center;
  @media (min-width: var.$sm) {
    width: 13rem;
    height: 13rem;
  }
}

#list_content {
  display: flex;
  width: 170px;
  height: 180px;
  padding: 18px 20px;
  flex-direction: column;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
    margin: 10px 0;
    background-color: var.$green;
    border-radius: 10px;
    p {
      padding: 0.1rem;
      font-weight: 500;
      color: white;
    }
  }
  h4 {
    font-weight: 700;
  }
  p {
    margin: 2px 0;
    font-weight: 700;
  }
  @media (min-width: var.$sm) {
    width: 13rem;
    height: 13rem;
    padding: 30px;
    div {
      width: 30%;
      height: 20%;
    }
    h4 {
      font-weight: 700;
      font-size: 1.5rem;
      }
    
    p {
      font-weight: 600;
      font-size: 1.3rem;
    }
  }
}