@use 'variable' as val;
.container {
  padding: 0 2rem;
}

.recipe_title {
  margin: 3rem;
  text-align: center;
  font-weight:  800;
  @media (max-width: val.$sm) {
    margin: 20px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 0;
  margin-top: 15px;
}


#veggie_btn {
  padding: 4rem;
  border: 0;
  border-radius: 20px;
  background-color: val.$purple !important;

  @media (max-width: val.$sm) {
    margin: 0.45rem;
  }
  
  p:nth-child(1) {
    margin: 0;
    font-size: large;
    font-weight: 800;
    color: white;
  }
  
  p:nth-child(2) {
    margin-bottom: 21px;
    font-size: large;
    font-weight: 500;
    color: white;
  }
  
  p:nth-child(4) {
    margin-top: 16px;
    margin-bottom: 0;
    font-size: xx-large;
    font-weight: 800;
    color: white;
  }
}

#fridge_btn {
    padding: 4rem;
    border: 0;
    border-radius: 20px;
    background-color: val.$green  !important;
    @media (max-width: val.$sm) {
        margin: 0.45rem;
      }
  
    p:nth-child(1) {
      margin: 0;
      font-size: large;
      font-weight: 800;
      color: white;
    }
  
    p:nth-child(2) {
      margin-bottom: 21px;
      font-size: large;
      font-weight: 500;
      color: white;
    }
  
    p:nth-child(4) {
      margin-top: 16px;
      margin-bottom: 0;
      font-size: xx-large;
      font-weight: 800;
      color: white;
    }
}
