@use 'variable' as var;
// .main{
//   @media (min-width:var.$lg) {
//       min-width: 1000px;
//     }
// }

.header {
  display: flex;
  justify-content: center;
  // align-items: flex-start;
  min-width: 85vw;
  h1 {
    margin: 0px 0 16px 0;
    font-weight: 600;
  }
  @media (max-width:var.$sm) {
    flex-direction: column;
  h1 {
      margin: 15px 0 5px 0;
      font-weight: 600;
    }
  }
  @media (min-width:var.$sm) {
    margin: 0 10px;
  }
  @media (min-width:var.$md) {
    max-width: 85vw;
  }
  @media (min-width:var.$lg) {
    min-width: 85vw;
    padding: 0 5rem;
    margin: 20px;
    justify-content: baseline;
  }
}
.mobile_title {
  @media (min-width:var.$sm) {
    display: none;
  }
}
.mobile_icon_title{
  display: flex;
  flex-direction: row;
  h1{
    margin: 10px 0;
  }
  img {
    width: 30px;
    height: 30px;
    margin: 10px;
    @media (min-width: var.$sm) {
      display: none;
    &:hover{
      cursor: pointer;
    }
    }
  }
}
.web_icon_title{
  display: flex;
  flex-direction: row;
  img {
    width: 30px;
    height: 30px;
    margin: 10px;
    &:hover {
        cursor: pointer;
      }
  }
}
.mobile_description {
  margin-bottom: 0;
  @media (min-width:var.$md) {
    display: none;
  }
}
.header_title{
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

#img_box{
  width: 85vw;
  height: 85vw;
  overflow: hidden;
  border-radius: 15px;
  @media (min-width:var.$sm) {
    width: 300px;
    height: 300px;
    margin-right: 20px;
  }
}

#food_img {
  width: inherit;
  height: inherit;
  background-size: cover;
  background-position: center;
  background-image: url('/main_cook.png');
}

.ingredient_slider{
  margin: 10px 0;
  @media (max-width:var.$sm) {
    width: 85vw;
  }
}
.ingredient_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 85vw;
  margin: 0 2rem 0 1rem;
  @media (min-width:var.$sm) {
    min-width: 1000px;
    padding: 0 5rem;
    margin: 20px;
    justify-content: flex-start;
    display: none;
  }
}
.web_ingredient{
  p {
    font-weight: 400;
  }
  p:nth-child(3) {
    margin-bottom:3px;
    font-size: large;
    font-weight: 700;
    color: var.$purple;
  }
  @media (max-width:var.$sm) {
    display: none;
  }
}

.mobile_ingredient {
  // margin: 20px 40px;
  margin: 20px 1rem;
  p {
      font-weight: 400;
      margin: 0;
    }
  p:nth-child(1) {
    margin-bottom: 5px;
    font-size: large;
    font-weight: 700;
    color: var.$purple;
  }
  @media (min-width:var.$sm) {
      display: none;
  }
}


.step_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 2rem;
  h3 {
    font-weight: 600;
    margin-bottom: 25px;
  }
  @media (min-width:var.$lg) {
    min-width: 1006px;
    padding: 0 5rem;
    margin: 20px;
    justify-content: flex-start;
  }
}

.youtube_section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 4rem;
  
  h1 {
    margin: 15px 0 5px;
    color: var.$purple;
    font-weight: 900;
  }
  @media (min-width:var.$lg) {
      min-width: 1006px;
      padding: 0 5rem;
      margin: 20px;
      // justify-content: flex-start;
    }
  @media (min-width:var.$sm) {
    max-width: 90vw;
  }
}

.youtube_intro {
  display: flex;
  flex-direction: row;
  margin: 0 0 25px 0;
  @media (max-width:var.$sm) {
    flex-direction: column;
    p{
      margin: 0;
      font-weight: 400;
    }
  }

}

.step_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
  h3 {
    margin-bottom: 0;
  }
}


.Container {
  display: grid;
  @media (max-width:var.$sm) {
    row-gap: 16px;
  }
  @media (max-width: var.$md) {
    grid-template-columns: 1fr;
    column-gap: 16px;
    row-gap: 16px;
  }
  @media (min-width: var.$md) {
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
  }
  @media (min-width: var.$lg) {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
  }
}