@use 'variable' as var;

.select {
    position:relative;
    display:flex;
    flex-direction: column;
}

.selected {
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: var.$grey;
    padding: 10px 10px 10px 15px;
    border-radius: 10px;
}

.selected_value {
    font-size: 16px;
    font-weight: 700;
}

.select_ul {
    position:absolute;
    z-index: 100;
    width:100%;
    background-color: var.$green;
    border-radius: 10px;
    list-style: none;
    margin-top:65px;
    padding: 0;
    li {
        cursor: pointer;
        color:white;
        font-size: 16px;
        line-height: 2.5;
        padding:5px 15px;
        border-bottom: 1px dashed white;
        &:hover {
            background-color: var.$purple;
        }
        &.only_li{
            border-radius: 10px;
            border-bottom: 0;
        }
        &.choice_li {
            background-color: var.$purple;
        }
        &.last_li {
            border-bottom: 0;
            border-radius: 0 0 10px 10px;
        }
        &.first_li {
            border-radius: 10px 10px 0 0;
        }
    }
}

// .select {
//   display: flex;
//   flex-direction: column;
//   width: 80vw;
//   @media (min-width: var.$md){
//     justify-content: center;
//     width: 220px;
//     margin: 10px;
//   }
// }