@use 'variable' as var;

.select {
    position:relative;
    display:flex;
    flex-direction: column;
    cursor: url("/cursor/pointer.png"), pointer;
}

.selected {
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: var.$grey;
    padding: 10px 10px 10px 15px;
    border-radius: 10px;
}

.selected_value {
    font-size: 16px;
    font-weight: 700;
    cursor: url("/cursor/pointer.png"), pointer;
}

.select_ul {
  @media (min-width:577px){
      position:absolute;
      z-index: 100;
      margin-top:55px;
      margin-bottom: 20px;
    }
    width:max-content;
    min-width: 100%;
    max-height: 300px;
    overflow: overlay;
    /* 스크롤바 설정*/
    &::-webkit-scrollbar{
      /*  스크롤바 막대 너비 설정 */
        width: 8px;
    }

    /* 스크롤바 막대 설정*/
    &::-webkit-scrollbar-thumb{
      /* 스크롤바 막대 높이 설정    */
        height: 17%;
        background: var.$purple;
        /* 스크롤바 둥글게 설정    */
        border-radius: 10px;
    }

    /* 스크롤바 뒷 배경 설정*/
    &::-webkit-scrollbar-track{
        background-color: rgba(0, 0, 0, 0);
        // background-color:var.$grey;
        border-radius: 10px;
    }
    background-color: var.$green;
    border-radius: 10px;
    list-style: none;
    margin-top:10px;
    margin-bottom:5px;
    padding: 0;
    li {
      cursor: url("/cursor/pointer.png"), pointer;
        color:white;
        font-size: 16px;
        line-height: 2.5;
        padding:5px 15px;
        border-bottom: 1px dashed white;
        &:hover {
          background-color: var.$purple;
        }
        &.only_li{
            border-radius: 10px;
            border-bottom: 0;
        }
        &.choice_li {
          background-color: var.$purple;
        }
        &.last_li {
          border-bottom: 0;
          border-radius: 0 0 10px 10px;
        }
        &.first_li {
          border-radius: 10px 10px 0 0;
        }  
        &.len1_li {
          border-radius:10px;
          border-bottom: none;
        }
        &.len1_choice_li {
          background-color: var.$purple;
          border-radius: 10px;
          border-bottom:none;
        }
      }
}

// .select {
//   display: flex;
//   flex-direction: column;
//   width: 80vw;
//   @media (min-width: var.$md){
//     justify-content: center;
//     width: 220px;
//     margin: 10px;
//   }
// }