@use 'variable' as var;
.table_Container {
  table{
    // margin-left: 0;
    // margin-right: auto;
    @media (max-width:var.$sm){
      font-size: medium;
      // thead {
      //     font-size: medium;
      //   }
    }
    @media (min-width:var.$lg){
      font-size: medium;
    }
  }
  thead {
    margin-top:20px;
    border-bottom: 1px solid;
    font-size: small;
    font-weight: 700;
  }
  td {
    padding: 5px;
    text-align: left;
  }
  th {
    padding: 2px;
  }
}

.footer{
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1px;
  p{
    margin: 0;
    font-size: xx-small;
    color: gray;
  }
}