@use 'variable' as var;

.box {
  // width: 300px;
  // height: 300px;
  width: 80vw;
  height: 80vw;
  // box-sizing: border-box;
  // margin: 10px 0;
  border-radius: 15px;
  background-color: var.$grey;
  overflow: hidden;
  @media (min-width:var.$sm) {
    width: 70vw;
    height: 70vw;
  }
  @media (min-width:var.$md) {
    width: 270px;
    height: 300px;
    // margin-right: 20px;
  }
}
.thumbnail_box {
  width: 85vw;
  height: 45vw;
  
  @media (min-width:var.$md) {
    width: 270px;
    height: 150px;
  }

}

#thumbnail {
  width: inherit;
  height: max-content;
  // background-size: cover;
  // background-position: center;
  // background-image: url('/main_cook.png');
  &:hover {
    cursor: pointer;
  }
}
.content {
  // margin: 10px 15px;
  padding: 15px;
  p {
    margin: 0;
    font-size: medium;
    font-weight: 800;
    &:hover{
      cursor: pointer;
    }
  }
  @media (max-width:var.$md) {
    padding: 1.5rem 1rem;
    // p{
    //   font-size:medium;
    // }
  }
  >p:nth-child(1) {
    color: var.$purple;
    font-weight: 600;
    font-size:small;
    // @media(max-width:var.$md){
    //   font-size:small;
    // }
  }
}

